.yoshi {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

body {
  background-color: #282a36;
}

@media all and (max-width: 1000px) {
  .yoshi {
    width: 70%;
  }
}
